html {
    height:100%;
}

body {
    font-family: Overpass;
    font-size: 16px;
    font-weight: 100;
    color: #d3d3d3;
    background-color: #777;
    text-align: center;
    height:100%;
}

h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 200;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

#content {
    width: 80%;
    max-width: 854px;
    margin: auto;
    background-color: #1e1b25;
    display: block;
    padding: 20px;
    text-align: left;
}

#toc {
    background-color: #ffffff;
}

#toc .center {
    padding: 20px;
}

.max-width {
    width: 100%;
}

.back_btn {
    background-color: #1e1b25;
    border: 1px solid #d092ff;
    border-radius: 10px;
    color: #d092ff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    cursor: pointer;
}

.toc-caption {
    font-size: 14px;
    margin: 10px;
}

.center-container {
    clear: both;
    float: none;
    text-align: center;
}

.center {
    margin: 0 auto;
    max-width: 750px;
}

.min-width {
    width: 360px;
}

.todo {
    color: #FF00FF;
    font-size: 12px;
}

.orange {
    color: #ffae52;
}

.teal {
    color: #1cbfa4;
}

sup a {
    color: #d092ff;
    font-size: 18px;
    text-decoration: none;
}

.chunk { 
    margin-top: 400px;
}

.elastic-container {
    text-align: left;
    margin: 30px 0;
    min-width: 360px;
}

.responsive-iframe {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #666;
}

.iframe {
    position: relative;
}

.iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}

.tile-sideways {
    width: 360px;
    display: inline-block;
}

.align-right {
    text-align: right;
}

.caption {
    margin-top: 10px;
    text-align: left;
}

.instructions {
    color: #d092ff;
    font-weight: 400;
    margin-top: 10px;
}

.placeholder-16-9 {
    aspect-ratio: 16 / 9;
    background-color: #666;
}

.placeholder-traj-compare1 {
    height: 1120px;
}

.placeholder-traj-compare2 {
    height: 1090px;
}

#traj-compare {
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 1040px;
    background-color: #666;
}

li {
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
    margin-right: 40px;
}

.copy {
    max-width: 360px;
    text-align: left;
}

.figure-panel {
    overflow: hidden;
}

/* specific figure panels */
#a {
    float: left;
    width: 360px;
    height: 280px;
    margin: 15px 40px 0px 0px;
}

#a img {
    width: 1310px;
    height: 1328px;
    margin: -100px 0px 0px 0px;
}

#b {
    width: 360px;
    height: 163px;
    margin: 15px 0px 30px 0px;
}

#b img {
    width: 983px;
    height: 996px;
    margin: 0px 0px 0px -260px;
}

#e {
    width: 225px;
    height: 195px;
    margin: 0px 0px 30px 15px;
}

#e img {
    width: 1310px;
    height: 1328px;
    margin: -605px 0px 0px 0px;
}

#f1 {
    width: 360px;
    height: 365px;
    margin: 15px 0px 30px 0px;
}

#f1 img {
    width: 983px;
    height: 996px;
    margin: -630px 0px 0px 0px;
}

#f2 {
    width: 300px;
    height: 365px;
    margin: 15px 0px 30px 0px;
}

#f2 img {
    width: 983px;
    height: 996px;
    margin: -630px 0px 0px -353px;
}

#g {
    width: 360px;
    height: 365px;
    margin: 15px 0px 30px 0px;
}

#g img {
    width: 983px;
    height: 996px;
    margin: -630px 0px 0px -653px;
}